.LogEntry {
  border: 1px solid #ddd;
  padding: 15px 0;
  margin-bottom: 15px;
}

.LogEntry-header-text {
  font-size: 1.3em;
  margin-bottom: 0;
}

.LogEntry-message {
  margin: 15px 0;
}

.LogEntry-date {
  font-size: 0.9em;
}
